<h1>Create new activity</h1>
<%= form_for @activity  do |f|%>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.submit "create" %>
<% end %>
<div><%= link_to("go back index page", activities_path) %></div>
